#jinja2: lstrip_blocks: "True"
# disable memory from being swapped to disk
disable_mlock = true

telemetry {
  prometheus_retention_time = "1h"
  disable_hostname          = true
}

# API listener configuration block
listener "tcp" {
  # Should be the address of the NIC that
  # the controller server will be reached on
  address = "{{ ansible_default_ipv4.address }}:{{ boundary_ports.api }}"
  purpose = "api"

  # TLS Configuration
  tls_disable   = false
  tls_cert_file = "/etc/boundary.d/tls/cert.pem"
  tls_key_file  = "/etc/boundary.d/tls/cert-key.pem"

  # Uncomment to enable CORS for the Admin UI. Be sure
  # to set the allowed origin(s) to appropriate values.
  #cors_enabled = true
  #cors_allowed_origins = ["https://yourcorp.yourdomain.com", "serve://boundary"]
}

# Data-plane listener configuration block (used for worker coordination)
listener "tcp" {
  # Should be the IP of the NIC that the worker will connect on
  address = "{{ ansible_default_ipv4.address }}:{{ boundary_ports.cluster }}"
  purpose = "cluster"
}

# Ops listener for operations like health checks for load balancers
listener "tcp" {
  # Should be the address of the NIC where your external systems'
  # (eg: Load-Balancer and metrics collectors) will connect on.
  address = "{{ ansible_default_ipv4.address }}:{{ boundary_ports.ops }}"
  purpose = "ops"

  tls_disable   = false
  tls_cert_file = "/etc/boundary.d/tls/cert.pem"
  tls_key_file  = "/etc/boundary.d/tls/cert-key.pem"
}

# Controller configuration block
controller {
  # This name attr must be unique across all
  # controller instances if running in HA mode
  name        = "{{ ansible_hostname | lower }}"
  description = "Boundary Enterprise controller"

  # This is the public host or IP where the workers can reach the
  # controller. For all intents and purposes this should be the LB address
  public_cluster_address = "{{ ansible_default_ipv4.address }}"

  # Enterprise license file, can also be the raw value or env:// value
  license = "file:///etc/boundary.d/boundary.hclic"

  # After receiving a shutdown signal, Boundary will
  # wait 10s before initiating the shutdown process.
  graceful_shutdown_wait_duration = "10s"

  # Database URL for postgres. This is set in boundary.env and
  # consumed via the "env://" notation.
  database {
    url = "env://POSTGRESQL_CONNECTION_STRING"
  }
}

# Events (logging) configuration. This
# configures logging for ALL events to both
# stderr and a file at /var/log/boundary/controller.log
events {
  audit_enabled       = true
  sysevents_enabled   = true
  observations_enable = true
  sink "stderr" {
    name        = "all-events"
    description = "All events sent to stderr"
    event_types = ["*"]
    format      = "cloudevents-json"
  }

  sink {
    name        = "file-sink"
    description = "All events sent to a file"
    event_types = ["*"]
    format      = "cloudevents-json"

    file {
      path      = "/var/log/boundary"
      file_name = "controller.log"
    }

    audit_config {
      audit_filter_overrides {
        sensitive = "redact"
        secret    = "redact"
      }
    }
  }
}

kms "azurekeyvault" {
  purpose    = "root"
  tenant_id  = "{{ azure_key_vault_tenant_id }}"
  vault_name = "{{ azure_key_vault_name }}"
  key_name   = "{{ azure_key_vault_key_names.root }}"
}

kms "azurekeyvault" {
  purpose    = "recovery"
  tenant_id  = "{{ azure_key_vault_tenant_id }}"
  vault_name = "{{ azure_key_vault_name }}"
  key_name   = "{{ azure_key_vault_key_names.recovery }}"
}

kms "azurekeyvault" {
  purpose    = "worker-auth"
  tenant_id  = "{{ azure_key_vault_tenant_id }}"
  vault_name = "{{ azure_key_vault_name }}"
  key_name   = "{{ azure_key_vault_key_names.worker_auth }}"
}
