#jinja2: lstrip_blocks: "True"
# disable memory from being swapped to disk
disable_mlock = true

telemetry {
  prometheus_retention_time = "1h"
  disable_hostname          = true
}

# Listener denoting this is a worker proxy
listener "tcp" {
  address = "0.0.0.0:{{ boundary_ports.proxy }}"
  purpose = "proxy"
}

# Worker block for configuring the specifics of the
# worker service
# name must be set for KMS workers
worker {
  name        = "{{ ansible_hostname | lower }}"
  description = "Boundary Enteprise proxy worker"
  public_addr = "{{ ansible_default_ipv4.address }}"
  initial_upstreams = [
    {% for address in upstream_addresses %}
    "{{ address }}:{{ boundary_ports.cluster}}",
    {% endfor %}
  ]

  tags {
    {% for tag_key, tag_value in worker_tags.items() %}
    {{ tag_key }} = "{{ tag_value }}"
    {% endfor %}
  }
}

plugins {
  execution_dir = "{{ boundary_plugins_directory }}"
}

kms "azurekeyvault" {
  purpose    = "worker-auth"
  tenant_id  = "{{ azure_key_vault_tenant_id }}"
  vault_name = "{{ azure_key_vault_name }}"
  key_name   = "{{ azure_key_vault_key_names.worker_auth }}"
}
